node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/
.env
.env.local
**/.env
**/.env.local
.env.production
**/.env.production
!.env.example
!**/.env.example
*.log
*.tsbuildinfo
.vercel/
.DS_Store
